{% extends "blog/base.html" %}
{% block content %}
    <h2 class="font-weight-bold">About Page!</h2>
    <p><h3 class="font-weight-normal"> Some information about me:</h3></p>
    <p>
        <h4 class="font-weight-light">
            <ul>
                <li><p>I am a student of the Poznań University of Technology.</p></li>
                <li><p>Currently studying the Computer Science.</p></li>
                <li><p>I'm interested in programming.</p></li>
                <li><p>I really like doing sports e.g. football and weight lifting.</p></li>
            </ul>
        </h4>
    </p>
    <p><h2 class="font-weight-light">You can find all of my projects on <a href="https://github.com/Endrju00">Github</a>.</h2></p>
{% endblock content %}
